@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
  --color-lightHover: #fcf4ff;
  --color-darktheme: #11001F;
  --color-darkHover: #2a004a;

  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
  --grid-cols-sidebar: 200px 1fr; 
  --grid-cols-3-2: 3fr 2fr;   
  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));
}